*{
    margin: 0;
    /* #ddd6f3 → #faaca8*/
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: linear-gradient( to left, #BDC3FF,#faaca8);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(68, 66, 66);
}

.Login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 40%;
    background: linear-gradient( to bottom, #fd6595  ,#cf5cf5);
    border-radius: 8px;
}


.firstname{
    width: 85%;
    height: 20%;
    background: #ffffff3b;
    padding: 0.2rem;
    margin: 0.2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.lastname{
    width: 85%;
    height: 20%;
    background: #ffffff3b;
    padding: 0.2rem;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.contact{
    width: 85%;
    height: 20%;
    background: #ffffff3b;
    padding: 0.2rem;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.password{
    width: 85%;
    height: 20%;
    background: #ffffff3b;
    padding: 0.2rem;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.submit{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

input{
    width: 70%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: none;
}
label{
    font-size: 1.3rem;
    margin: 0.3rem;
    color: aliceblue;
}

button{
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
}
.submit a {
    width: 40%;
}