*{
  margin: 0;
  padding: 0;
}
body{
  background: #1e1d1d;
  color: white;
  height: 100%;
  width: 100%;
}

input{
  width: 20%;
  padding: 0.3rem;
  outline: none;
  border-radius: 8px;
  font-size: 20px;
  margin-left: 10px;
}

.search{
  width: 30%;
}
.App {
  text-align: center;
}







